{% assign contact = site.data.data.contact %}
{% if contact %}
<section class="contact">
    <div class="title">Contact</div>
        <div class="contact-item">
          
        {% if contact.email %}
            <a href="#">
                <span style="color: #023b5b;">
                <i class="fal fa-envelope fa-2x"></i>
                </span>
            </a>
    {% endif %}
    
    {% if contact.scholar %}
        <a href="https://scholar.google.com/citations?user={{contact.scholar}}=en">
                <span style="color: #023b5b;">
                <i class="ai ai-google-scholar ai-2x"></i>
                </span>
            </a>
    {% endif %}

    {% if contact.phone %}
        <i data-feather="phone"></i>
            <a href="#">
                {{contact.phone}}
            </a>
    {% endif %}

    {% if contact.github %}
        <a href="https://github.com/{{contact.github}}">
                <i class="fab fa-github fa-2x"></i>
            </a>
    {% endif %}

    {% if contact.linkedin %}
        <a href="https://linkedin.com/in/{{contact.linkedin}}">
            <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
    {% endif %}

    {% if contact.twitter %}
        <i data-feather="twitter"></i>
            <a href="https://twitter.com/{{contact.twitter}}">
                {{contact.twitter}}
            </a>
    {% endif %}

    {% if contact.gitlab %}
        <i data-feather="gitlab"></i>
            <a href="https://gitlab.com/{{contact.gitlab}}">
                {{contact.gitlab}}
            </a>
        {% endif %}
</section>
{% endif %}
