.education {
    margin-bottom: 30px;
    .title {
        @include header;
	margin-bottom: 15px;
    }
    .education-item {
        margin-bottom: 30px;
        .degree {
            @include body-text;
            font-weight: bold;
        }
        .university {
            @include body-text;
        }
        .time {
            @include body-text;
        }
    }
}
