/*.skills {
    margin-bottom: 20px;
    .title {
        margin-top: 20px;
        font-weight: bold;
        @include sub-header;        
    }
    .skill {
        margin-bottom: 20px;
        @include body-text;
    }
}*/
.skills {
    margin-bottom: 20px;
    .title {
        @include sub-header;
    }
    .skills-item {
        margin-bottom: 20px;
        .title {
            @include body-text;
            font-weight: bold;
        }
        .skill {
            @include body-text;
        }
    }
}
