.skills {
    margin-bottom: 20px;
    .title {
        margin-top: 20px;
        font-weight: bold;
        @include sub-header;        
    }
    .skill {
        margin-bottom: 20px;
        @include body-text;
    }
}
