:root {
    --bg-color: #543005;
    --bg-color-cv: #f6e8c3;
    --fg-color: #4393c3;
    --fg-color-dark: #313695;
    --fg-color-body: #5e6369;
    --fg-color-title-sm: #688293;
}

// Original pallette
// :root {
//     --bg-color: #f1f1f1;
//     --bg-color-cv: #ffffff;
//     --fg-color: #00629b;
//     --fg-color-dark: #023b5b;
//     --fg-color-body: #5e6369;
//     --fg-color-title-sm: #688293;
// }

[data-theme='dark'] {
    --bg-color: #28343b;
    --bg-color-cv: #1b262c;
    --fg-color: #3282b8;
    --fg-color-dark: #3282b8;
    --fg-color-body: rgba(187,225,250,0.75);
    --fg-color-title-sm: #688293;
}
